.back-btn {
  background-color: aqua;
}

.back-btn:hover {
  background-color: lightblue;
  cursor: pointer;
}

.back-btn:active {
  background-color: beige;
  cursor: grab;
}

.ens-performance:hover {
  border: 1px dotted #333;
  background: #f4f4f4;
  cursor: pointer;
}

.ens-performance h3:hover,
.ens-performance h4:hover {
  color: orange;
}
