.ens-show {
  display: block;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 2rem;
  padding: 10px 30px;
}

/* #ens-card-container {
  display: flex;
  margin-top: 40px;
} */

/* .ens-card:hover {
  background-color: #f4e377;
  cursor: pointer;
} */

/* .ens-card:active {
  background-color: #f9c44f;
  cursor: grab;
} */

/* .ens-card h3 {
  padding: 10px 20px;
  margin-bottom: 10px;
} */

.back-btn {
  background-color: aqua;
}

.back-btn:hover {
  background-color: lightblue;
  cursor: pointer;
}

.back-btn:active {
  background-color: beige;
  cursor: grab;
}

.ens-performance:hover {
  border: 1px dotted #333;
  background: #f4f4f4;
  cursor: pointer;
}

.ens-performance h3:hover,
.ens-performance h4:hover {
  color: orange;
}
