.ens-show {
  display: block;
  justify-content: center;
  align-items: center;
}

.ens-card {
  border: solid red 1px;
  margin: 4px;
  padding: 4px;
}

.ens-card:hover {
  background-color: lightblue;
  cursor: pointer;
}

.ens-card:active {
  background-color: beige;
  cursor: grab;
}

.back-btn {
  background-color: aqua;
}

.back-btn:hover {
  background-color: lightblue;
  cursor: pointer;
}

.back-btn:active {
  background-color: beige;
  cursor: grab;
}
