.main-container {
  border: solid cyan 3px;
  position: fixed;
  margin-left: 150px;
  margin-top: 70px;
  height: auto;
  padding: 15px 30px;
  /* width: 91.5%; */
  /* height: 91vh; */
  overflow: scroll;
}
