* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  background: #333;
  color: #fff;
  position: fixed;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar li {
  list-style: none;
  display: inline-block;
}

.navbar li button {
  text-decoration: none;
  color: #333;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #f4f4f4;
}
.navbar li button:hover {
  cursor: pointer;
  background-color: orange;
  color: #fff;
}

.navbar li button:active {
  cursor: pointer;
  color: #fff;
  background-color: #784d1a;
}

.logout-btn {
  margin: 50px;
  padding: 5px;
  background-color: #f4f4f4;
}

.logout-btn:hover {
  background-color: #f76f00;
  color: #f4f4f4;
  cursor: pointer;
}

.logout-btn:active {
  background-color: #f4f4f4;
  color: #883d1a;
}

.side-navbar {
  /* border: solid red 2px; */
  position: fixed;
  width: 150px;
  height: 100%;
  margin-top: 70px;
  padding-top: 20px;
  background: #555;
  color: #fff;
}

.nav-btn {
  background-color: #f4f4f4;
  border-bottom: 2px solid gray;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 5px;
  width: 100%;
}

.nav-btn:hover {
  background-color: orange;
  color: #fff;
  cursor: pointer;
}

.nav-btn:active {
  background-color: #ffa320;
  color: #fff;
}
