* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Form––––––––––––––––––––––––––––––––– */
.form {
  background-color: #e4cec5;
  opacity: 0.9;
  display: block;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: auto;
  height: auto;
}

label {
  font-weight: bold;
  display: block;
  color: #143b38;
  padding-top: 25px;
  padding-bottom: 10px;
  text-align: center;
}

input[type="text"] {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0.65rem 0.5rem;
  font-size: 1rem;
  border: 1px solid #143b38;
  background-color: #efefef;
  color: #143b38;
  border-radius: 10px;
  appearance: none;
}

input[type="text"],
textarea,
select {
  width: 350px;
}

/* select {
  margin: 0;
  box-sizing: border-box;
  padding: 0.65rem 0.5rem;
  font-size: 1rem;
  border: 2px solid #f4f4f4;
  border-radius: 10px;
  color: #333;
  height: auto;
  background-color: #f3f3f3;
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: center right 0.5rem;
} */

/* textarea {
  appearance: none;
  font-size: 1rem;
  border: 2px solid var(--gray-200);
  color: var(--gray-700);
  border-radius: 10px;
  resize: vertical;
  background-color: var(--gray-100);
  box-sizing: border-box;
  padding: 0.65rem 0.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir,
    "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial,
    sans-serif;
} */

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 1px solid #d7ea21;
}

.error {
  color: red;
  text-align: center;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
}
